@import "bootstrap";
body {
    background: #efefef;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

.container-box {
    width: 280px;
    margin: 15px auto;
    @media (max-width: 280px) {
        width: 100% !important;
        padding: 0 15px;
    }
    &.container-box-lg {
        width: 798px;
        @media (max-width: 798px) {
            width: 100% !important;
            padding: 0 15px;
        }
    }
}

.footer {
    font-size: 0.7em;
    margin-top: -10px;
    text-align: center;
    color: #ccc;
    a {
        color: #999;
    }
}

.panel-banner {
    position: relative;
    width: 100%;
    height: 85px;
    margin-bottom: 60px;
    background-color: #111;
    background-repeat: no-repeat;
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .avatar {
        position: absolute;
        top: 45px;
        left: 25px;
        width: 80px;
        height: 80px;
        img {
            padding: 0;
            box-shadow: 0 0 15px rgba(0, 0, 0, .4);
        }
    }
    .panel-name {
        position: absolute;
        top: 95px;
        left: 120px;
        h1 {
            font-size: 1.1em;
            font-weight: 400;
            margin: 0;
            color: #666;
        }
        h2 {
            font-size: 0.7em;
            font-weight: 300;
            margin: 0;
            color: #aaa;
        }
    }
}

.panel-profile {
    .panel-body {
        padding-top: 0;
        hr {
            margin: 7px 0;
        }
        p {
            font-size: 0.9em;
            text-align: justify;
            color: #555;
        }
        .btn-xs {
            padding: 1px 3px;
        }
    }
}

.post-title {
    margin-top: 5px;
}

.post-meta {
    font-size: 0.8em;
    padding-bottom: 15px;
    color: #999;
    li {
        padding-right: 0;
        &:after {
            line-height: 1em;
            margin-left: 5px;
            content: '|';
            color: #aaa;
        }
        &:last-child:after {
            content: '';
        }
    }
}

.post-content {
    .thumbnail {
        min-height: 150px;
        background: #fafafa;
    }
    .list-group {
        margin-top: 15px;
    }
}

#post-loading {
    padding: 50px 0;
}

h3.page-header {
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 15px;
}

.project-list {
    h4 {
        font-size: 1em;
        margin-top: 20px;
        font-weight: 400;
        &:first-child {
            margin-top: 10px;
        }
    }
    .project-item {
        margin-left:20px;
        margin-bottom: 10px;
        a {
            font-size: 0.8em;
            color: #555;
            margin-left: 7px;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
        .project-item-info {
            font-size: 0.7em;
            float: right;
            color: #AAA;
        }
        .project-item-title {
            font-size: 0.9em;
            color: #666;
        }
        .project-item-description {
            font-size: 0.7em;
            color: #999;
            margin-bottom: 7px;
        }
        .progress {
            height: 1px;
            margin: 0;
            .progress-bar {
                background: #999;
            }
        }
    }
}

.pi {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999;
    font-size: 0.5em;
}