{{>_header}}
<h1>{{_name}}</h1>
<ul>
    <li>{{_version}}</li>
    <li>{{_base.test}}</li>
</ul>
{{#eq _base.num 4}}see{{/eq}}
{{#eq _base.num 5}}not see{{/eq}}
<pre>
{{#json _base.testJson}}{{/json}}
</pre>
<pre>
{{#json testJsonPage}}{{/json}}
</pre>
{{>_footer}}